$font-stack: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$primary-color: #f5cdcd;

html {
    font-family: $font-stack;
}

body {
    background: $primary-color;
}